var socket = io();

function turnOn() {
    socket.emit('message', "Button ON pressed!");
}
function turnOff() {
    socket.emit('message', "Button OFF pressed!");
}
function addOne() {
    socket.emit('add', parseInt(document.getElementById("addButton").innerHTML));
}

socket.on('sum', function(data) {
    document.getElementById("addButton").innerHTML = data;
})