{% extends 'base.html.j2' %}

{% block title %}Home{% endblock %}

{% block head %}
{{ super() }} <!-- Inherit base header -->
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<h1>This is the home page!</h1>

<div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary active">
        <input type="radio" name="options" id="on" onclick="turnOn()"> ON
    </label>
    <label class="btn btn-secondary">
        <input type="radio" name="options" id="off" onclick="turnOff()"> OFF
    </label>
</div>

<button type="button" class="btn btn-light" id = addButton onclick="addOne()">0</button>

<script type="text/javascript" charset="utf-8">
    {% include 'home.js.j2' %}
</script>
{% endblock %}