var socket = io();    // Auto-discovery

function turnOn() {
    // What to do if "on" button is pressed
    socket.emit('ledState', 1);    // Send the next state to the server
    document.getElementById("indicator").innerHTML = "The LED is ON!";
    document.getElementById("light").setAttribute("fill", "yellow");
}
function turnOff() {
    // What to do if "off" button is pressed
    socket.emit('ledState', 0);    // Send the next state to the server
    document.getElementById("indicator").innerHTML = "The LED is OFF!";
    document.getElementById("light").setAttribute("fill", "black");
}